.color {
  background-color: yellow;
}
ol li:nth-of-type(odd) {
  text-transform: uppercase;
  font-weight: bold;
}
ol li:nth-of-type(even) {
  color: green;
  font-weight: bold;
}
.header {
  color: red;

}
.em {
  size: 40px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
li {
  font-size: 20px;
}
ul > li {
  color: blue;
  
}
.laranja:hover {
  color: orange;
  font-weight: bold;
}
.verde:hover {
  color: green;
  font-weight: bold;
}
.preta:hover {
  color: black;
  font-weight: bold;
}
.amarela:hover {
  color: yellow;
  font-weight: bold;
}